/* Estilos generales */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #e8e8e8;
  /* color: #a8a8a8; */
  padding: 1rem;
}

section,
article,
main,
fieldset,
h2,
h3,
h4 {
  padding: 1rem;
}

ul {
  list-style-image: url(./img/logo.png);
  padding-left: 25px;
}
strong {
  font-size: 2em;
}

label,
input {
  margin: 0.25rem;
}
.sronly {
  position: absolute;
  left: -9999em;
  width: 1px;
  overflow: hidden;
}
a:hover,
a:focus,
a:active {
  position: relative;
}

/*=============================================
=            Estilos para el scronly de los enlaces            =
=============================================*/
a:hover span.sronly,
a:focus span.sronly,
a:active span.sronly {
  left: 20px;
  top: 20px;
  width: 100px;
  padding: 5px;
  line-height: 1;
  font-size: 80%;
  background: #ccc;
  border: 1px solid #666;
  color: #333;
  text-decoration: none;
}
a:hover span.sronly:before,
a:focus span.sronly:before,
a:active span.sronly:before {
  content: "Más información";
  color: red;
}

/*=====  End of Scronly de los enlaces  ======*/

.importante {
  background-color: #333;
  color: #ccc;
}
.etiqueta {
  display: block;
}

button,
input[type="submit"],
input[type="reset"] {
  font-size: 1.1rem;
  font-weight: bold;
}
button {
  padding: 0.5rem;
}

input {
  padding: 0.25rem;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
a.tab {
  background: #333;
  color: #ccc;
  padding: 1em 0.5em;
  display: inline-block;
}
a.selected,
a.tab:focus {
  background: #ccc;
  color: #333;
  border: 1px solid #333;
  border-bottom: 0;
  position: relative;
}
a.tab:focus {
  background: #eee;
}
ul.tablist li {
  display: inline-block;
  list-style: none;
}
div.tabpanel {
  margin-top: 0;
  padding: 1.5em;
  border: 1px solid #333;
}
div.tabpanel:focus {
  background: #eee;
}

table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
}

th {
  background-color: #66666682;
  padding: 0.5rem;
}
article {
  border-top: 2px solid gray;
  padding: 0.5rem 0;
}

/*=============================================
=            Estilos role tooltip            =
=============================================*/

.tooltip {
  display: none;
  color: #333;
  background: #ccc;
}
input:focus + .tooltip {
  display: block;
  position: absolute;
}
/*=====  End of Estilos role tooltip  ======*/

